@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

*{
    padding: 0;
    margin: 0;
}


body{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #000000;
}

a{
    text-decoration: none;
    color: #fff;
}


.container{
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 500;
}


 /* !HEADER  */

.city-select{
   border: transparent;
   color: #fff;
    background: #000;
   opacity: 0.6;


   cursor: pointer;
   transition: 0.3s linear;
}

.city-select:hover{
    opacity: 0.5;
}

.city-select:active{
    background-color: transparent;
}

.header {
    position: relative;
    padding-top: 25px;
    padding-left: 50px;
}


.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    gap: 7px;
    display: flex;
    align-items: center;
}

.logo-header{
    padding-top: 10px;
}


.text-logo {
    font-weight: 700;
    font-size: 21px;
}


.menu {
    display: flex;
    align-items: center;
    gap: 42px;
}


.btn-order {
    font-weight: 500;
    
    transition: 0.3s linear;
}


.btn-demo {
 display: flex;
 align-items: center;
 justify-content: center;

 background-color: #2F80ED;
 border-radius: 30px 30px;

 width: 152px;
 height: 47px;

 font-weight: 600;

 transition: 0.3s linear;
}


.btn-demo:hover{
    opacity: 0.6;
}

.btn-order:hover{
    opacity: 0.6;
}

.header::before{
    content: "";
    position: absolute;
    width: 923px;
    height: 823px;
    left: 0px;
    opacity: 0.8;
    top: 0;
    z-index: -10;
    background: rgba(64, 139, 240, 0.5);
    border-radius: 50% 50%;
    filter: blur(150px);
}

.header::after{
    content: "";
    position: absolute;
    width: 1023px;
    height: 823px;
    left: 900px;
    opacity: 0.4;
    top: 0;
    z-index: -10;
    background: rgba(80, 201, 166, 0.5);
    border-radius: 50% 50%;
    filter: blur(150px);
}


 /* !MAIN(WELCOME)  */

.main {
    padding-top: 50px;

}

.main .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.welcome-items {
    

}

.title-welcome {
    padding-top: 100px;
    font-size: 96px;
    font-weight: 700;

}

.title-welcome span {
    color: #2F80ED;
}

.subtitle-welcome {
    padding-top: 30px;
    font-size: 18px;
    padding-bottom: 40px;

}

.btn-welcome {
padding: 16px 49px;
background-color: #2F80ED;
border-radius: 10px 10px;
font-weight: 600;
font-size: 17px;
transition: 0.3s linear;


}

.btn-welcome:hover{
    opacity: 0.5;
}

/* !INFO  */

.info{
    padding-top: 300px;
}

.info-cards{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;

    padding-top: 72px;
}

.title-info{
    line-height: 1.1;
    font-size: 64px;
    font-weight: 500;
    padding-bottom: 60px;
}

.info-subtitle{
    color: #BDBDBD;

    font-size: 24px;
}

.info-card-text{
    padding-top: 16px;
    font-size: 18px;
}


.analytics {
    padding-top: 155px;
    padding-bottom: 250px;
}
.container {
}
.analytics-items {
}
.analytics-text {
}
.title-analytics {
    font-size: 64px;
    font-weight: 500;
    padding-bottom: 60px;
}
.subtitle-analytics {
    color: #BDBDBD;

    font-size: 18px;
    padding-bottom: 72px;
}
.analytics-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.analytics-card--blue {
    background-color: #408BF0;
    width: 351px;
    height: 428px;
    border-radius: 20px 20px;
    padding: 30px 43px 1px 24px;
}

.analytics-card--black {
    background-color: #141414;
    width: 351px;
    height: 428px;
    border-radius: 20px 20px;
    padding: 30px 43px 3px 24px;
}

.analytics-card--diagram {
    background-color: #141414;
    width: 351px;
    height: 428px;
    border-radius: 20px 20px;
    padding: 15px 43px 18px 24px;
}


.analytic-img {
    padding-bottom: 32px;
}

.analyticscard-title {
    line-height: 1;
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 24px;
}


.analytic-img-diagram{

}



.analyticscard-subtitle {
    color: #BDBDBD;

} 


/* !AUDIENCE */

.audience {
    padding-bottom: 182px;
}
.container {
}
.audience-items {
    display: flex;
    align-items: center;
    gap: 10px;
}
.audience-text {
}
.audience-title {
    font-size: 64px;
    font-weight: 600;
    padding-bottom: 40px;
}
.audience-subtitle {
    color: #BDBDBD;

    font-size: 18px;
    padding-bottom: 60px;
}
.btn-audience {
    padding: 16px 49px;
    background-color: #2F80ED;
    border-radius: 10px 10px;
    font-weight: 600;
    font-size: 17px;
    transition: 0.3s linear;
}

.btn-audience:hover{
    opacity: 0.6;
}

.audience-image {
}
.audience-img {
}


/* !STREAM */

.stream {
    padding-bottom: 180px;
}
.stream .container {

}
.stream-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.stream-image {
    display: flex;
    gap: 30px;
}

.right-stream-img{
    width: 267px;
    height: 420px;
    margin-top: 50px;
}

.left-stream-img{
    width: 267px;
    height: 420px;
}

.stream-text {
    padding-left: 100px;
}
.stream-title {
    font-size: 64px;
    font-weight: 600;

    line-height: 1.1;

    padding-bottom: 32px;
}
.stream-subtitle {
    color: #BDBDBD;

    padding-bottom: 45px;

}
.stream-team {
    color: #408BF0;

    font-size: 48px;
    font-weight: 600;

    padding-bottom: 16px;
}
.stream-subtitle-team {
    color: #BDBDBD;

}

/* !FOOTER */

.footer {
    background-color: #0E0E0E;
    border-radius: 40px;
}
.container {
}
.footer-items {
    display: flex;

    padding-top: 63px;
}
.footer-text {
}
.footer-title {
    width: auto;

    font-size: 64px;
    font-weight: 500;

    line-height: 1;

    padding-bottom: 60px;
}
.footer-subtitle {
    color: #E0E0E0;

    font-size: 18px;
    padding-bottom: 62px;
}

.footer-image{
    position: relative;
}


.btn-footer-order {
    padding: 13px 46px;

    background-color: #2F80ED;
    border-radius: 10px 10px;

    font-weight: 600;
    font-size: 17px;

    transition: 0.3s linear;

}
.btn-footer-demo {
    padding: 13px 30px;

    background-color: transparent;
    border: solid 2px ;
    border-radius: 10px 10px;

    font-weight: 600;
    font-size: 17px;

    margin-left: 25px;

    transition: 0.3s linear;


}

.btn-footer-order:hover{
    opacity: 0.6;
}

.btn-footer-demo:hover{
    opacity: 0.6;
}

.footer-img-device {
    padding-top: 153px;
    margin-left: -240px;
    
}

.footer-image::after{
    content: '';
    position: absolute;
    left: -6px;
    top: 290px;
    background-image: url(/files/logo-site.png);
    z-index: 10;
    width: 112px;
    height: 48px;
    background-repeat: no-repeat;
}
